# server
PORT=3067
NODE_ENV=development

# database
DB_HOST=aws-1-us-west-2.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.example
DB_PASSWORD=secret-password
DB_NAME=postgres

#Supabase
SUPABASE_URL=https://example.supabase.co
SUPABASE_KEY=anon public key